<h1>New Sticker</h1>

<%= form_for(@sticker, url: admin_stickers_path) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, require: true %>
  <%= f.label :category %>
  <%= f.text_field :category, require: true %>
  <%= f.label :description %>
  <%= f.text_field :description, require: true %>
  <%= f.label :price %>
  <%= f.text_field :price, require: true %>
  <%= f.label :image_url %>
  <%= f.text_field :image_url %>
  <%= f.submit "Create Sticker"%>
<% end %>
