<h1>Admin Dashboard</h1>

<h3>Snapshot</h3>

  <ul>
    <li><%= link_to "Ordered(#{@orders.ordered.count})", admin_dashboard_path("ordered") %></li>
    <li><%= link_to "Paid(#{@orders.paid.count})", admin_dashboard_path("paid") %></li>
    <li><%= link_to "Completed(#{@orders.completed.count})", admin_dashboard_path("completed") %></li>
    <li><%= link_to "Cancelled(#{@orders.cancelled.count})", admin_dashboard_path("cancelled") %></li>
  </ul>
<h3>Orders</h3>

<table id='past-orders' class="highlight">
  <thead>
    <tr>
      <th data-field="id">Order Number</th>
      <th data-field="name">Date Ordered</th>
      <th data-field="price">Status</th>
      <th data-field="price">Notes</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order %></td>
        <td><%= order.created_at.strftime("%B %d, %Y") %></td>
        <td><%= order.status %></td>
        <td><%= order.message %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>
  <%= link_to "Add New Sticker", new_admin_sticker_path %>
</p>
