<h1>
  <% if @category.present? %>
    <%= @category.title.capitalize %> Stickers
  <% else %>
    <%= "All Stickers" %>
  <% end %>
</h1>

<ul id = "stickers">
  <% @stickers.each do |sticker| %>
    <li><%= link_to sticker.title, sticker_path(sticker.id) %></li>
    <li>$<%= sticker.price %></li>
    <img src="<%= sticker.image_url %>" alt='<%= sticker.title %>'/>
    <div id="<%= sticker.title %>-button">
      <%= button_to "Add to Cart", cart_stickers_path(sticker_id: sticker.id) %>
    </div>
  <% end %>
</ul>
