<div id="sticker-details">
  <h1><%= @sticker.title %></h1>
  <ul>
    <li><%= @sticker.description %></li>
    <li><%= @sticker.price %></li>
    <img src="<%= @sticker.image_url %>" alt='<%= @sticker.title %>'/>
  </ul>
</div>
