<h1><%= @category.title.capitalize %> Stickers</h1>

<ul id = "stickers">
  <% @stickers.each do |sticker| %>
    <li><%= link_to sticker.title, sticker_path(sticker.id) %></li>
    <li>$<%= sticker.price %></li>
    <img src="<%= sticker.image_url %>" alt='<%= sticker.title %>'/>
  <% end %>
</ul>
